DB1_SUPABASE_URL=http://127.0.0.1:54341
DB1_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
DB1_SUPABASE_SERVICE_ROLE_KEY=YOUR_DB1_SERVICE_ROLE_KEY
DB2_SUPABASE_URL=http://127.0.0.1:54441
DB2_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
DB2_SUPABASE_SERVICE_ROLE_KEY=YOUR_DB1_SERVICE_ROLE_KEY
